.gQuickRepliesBtn {
  color: black;
  font-size: 13px;
}

.gChip {
  margin: 4px;
  border: 1px solid #ec7032;
  background-color: transparent;
  border-radius: 20px;
}

.gWrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin: auto
}