.gCarouselSideBtn {
  background-color: white;
  color: gray;
  padding: 10px;
  outline: 0;
  opacity: 1;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(160, 160, 160);
  line-height: initial;
}